@use "../tools/tools.index" as tools;

.o-section {
    padding-left: tools.percentage(2, 24);
    padding-right: tools.percentage(2, 24);
    position: relative;

    @include tools.mq(lg) {
        padding-left: tools.percentage(1, 24);
        padding-right: tools.percentage(1, 24);
    }

    /**
     * Horizontal modifiers
     */
    &--thin {
        padding-left: tools.percentage(4, 24);
        padding-right: tools.percentage(4, 24);

        @include tools.mq(lg) {
            padding-left: tools.percentage(1, 24);
            padding-right: tools.percentage(1, 24);
        }
    }

    &--narrow {
        padding-left: tools.percentage(3, 24);
        padding-right: tools.percentage(3, 24);

        @include tools.mq(lg) {
            padding-left: tools.percentage(1, 24);
            padding-right: tools.percentage(1, 24);
        }
    }

    &--wide {
        padding-left: tools.percentage(1, 24);
        padding-right: tools.percentage(1, 24);
    }

    &--no-padding-left {
        padding-left: 0;

        @include tools.mq(lg) {
            padding-left: 0;
        }
    }

    &--no-padding-right {
        padding-right: 0;

        @include tools.mq(lg) {
            padding-right: 0;
        }
    }

    &--full-width {
        padding-left: 0;
        padding-right: 0;

        @include tools.mq(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /**
     * Vertical modifiers
     */
    &--full-vh {
        height: 100vh;
    }

    /**
     * Color modifiers
     */
    &--black {
        background-color: var(--black);
    }

    /**
     * Overflow modifiers
     */
    &--no-overflow {
        overflow: hidden;
    }
}
