@use "../tools/tools.breakpoints" as breakpoints;
@use "../tools/tools.percentage" as percentage;

.o-section {
    padding-left: percentage.percentage(2, 24);
    padding-right: percentage.percentage(2, 24);
    position: relative;

    @include breakpoints.mq(lg) {
        padding-left: percentage.percentage(1, 24);
        padding-right: percentage.percentage(1, 24);
    }

    /**
     * Horizontal modifiers
     */
    &--thin {
        padding-left: percentage.percentage(4, 24);
        padding-right: percentage.percentage(4, 24);

        @include breakpoints.mq(lg) {
            padding-left: percentage.percentage(1, 24);
            padding-right: percentage.percentage(1, 24);
        }
    }

    &--narrow {
        padding-left: percentage.percentage(3, 24);
        padding-right: percentage.percentage(3, 24);

        @include breakpoints.mq(lg) {
            padding-left: percentage.percentage(1, 24);
            padding-right: percentage.percentage(1, 24);
        }
    }

    &--wide {
        padding-left: percentage.percentage(1, 24);
        padding-right: percentage.percentage(1, 24);
    }

    &--no-padding-left {
        padding-left: 0;

        @include breakpoints.mq(lg) {
            padding-left: 0;
        }
    }

    &--no-padding-right {
        padding-right: 0;

        @include breakpoints.mq(lg) {
            padding-right: 0;
        }
    }

    &--full-width {
        padding-left: 0;
        padding-right: 0;

        @include breakpoints.mq(lg) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    /**
     * Vertical modifiers
     */
    &--full-vh {
        height: 100vh;
    }

    /**
     * Color modifiers
     */
    &--black {
        background-color: var(--black);
    }

    /**
     * Overflow modifiers
     */
    &--no-overflow {
        overflow: hidden;
    }
}
