/**
 * Mixin that hides scrollbar on scrollable elements (for example overflow lists)
 * usage:
 *  div {
 *      overflow: scroll;
 *      @include hide-scrollbar;
 *  }
 */
@mixin hide-scrollbar {
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

/**
 * usage:
 *  div {
 *      @include custom-scrollbar;
 *  }
 *
 * NOTE: won't work properly with fixed elements (e.g. custom background that's position: fixed; in the background)
 */
@mixin custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: $personalized-secondary-color $personalized-primary-color;
    scrollbar-gutter: stable;

    &::-webkit-scrollbar {
        width: 10px;
        cursor: pointer;
        background-color: inherit;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba($personalized-secondary-color, 0);

        &:hover {
            background-color: rgba($personalized-secondary-color, 0.2);
        }
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 50px;
        border: 2px solid transparent;
        background-clip: content-box;
        background-color: rgba($personalized-primary-color, 0.2);

        &:hover {
            background-color: rgba($personalized-primary-color, 0.9);
        }
    }
}
