/**
 * Get z-index from $settings-zindex
 * usage:
 * z-index: getZindex(navigation);
 */
@function getZindex($zIndex: default, $modifier: 0) {
    @return map-get($settings-zindex, $zIndex) + $modifier;
}
