.c-breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    li {
        color: $black;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:before {
            @include fluidValue("width", null, 6px);
            @include fluidValue("height", null, 8px);

            & {
                content: "";
                display: inline-flex;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2IiBoZWlnaHQ9IjgiIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiMwMDNFMzMiIGQ9Ik0wIDcuNXYtN0w2IDQgMCA3LjVaIi8+PC9zdmc+");
                flex-shrink: 0;
                flex-grow: 0;
                margin-left: var(--s-10);
                margin-right: var(--s-10);
            }
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    a {
        color: $black;
        transition: getTransition(slide, ease-in-quad);
    }
}
