.c-media-trigger {
    @include button-reset;

    & {
        width: var(--s-80);
        height: var(--s-80);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: getTransition(slide, ease-in-quad);
        background: var(--white);
        color: var(--black);
        border-radius: 100%;
        z-index: getZindex(default);
    }

    .is-playing & {
        opacity: 0;
        visibility: hidden;
    }
}
