@use "../tools/tools.index" as tools;

.c-responsive-media {
    position: relative;
    overflow: hidden;
    width: 100%;

    &--background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__inner {
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        overflow: hidden;
        position: relative;
        display: block;

        /**
         * Aspect ratio modifiers
         */
        &--1-1 {
            padding-bottom: 100%;
        }

        &--2-1 {
            padding-bottom: tools.percentage(1, 2);
        }

        &--1-2 {
            padding-bottom: tools.percentage(2, 1);
        }

        &--3-1 {
            padding-bottom: tools.percentage(1, 3);
        }

        &--1-3 {
            padding-bottom: tools.percentage(3, 1);
        }

        &--3-2 {
            padding-bottom: tools.percentage(2, 3);
        }

        &--2-3 {
            padding-bottom: tools.percentage(3, 2);
        }

        &--4-3 {
            padding-bottom: tools.percentage(3, 4);
        }

        &--3-4 {
            padding-bottom: tools.percentage(4, 3);
        }

        &--16-9 {
            padding-bottom: tools.percentage(9, 16);
        }

        &--9-16 {
            padding-bottom: tools.percentage(16, 9);
        }

        &--auto {
            padding-bottom: unset;
            height: auto;

            .c-responsive-media__img,
            .c-responsive-media__video,
            iframe,
            object,
            embed {
                width: auto;
                height: auto;
                position: relative;
            }
        }

        &--adopt {
            padding-bottom: unset;
            height: 100%;
        }

        /**
         * Loaded state
         */
        &[loaded] {
            > .c-embed-video__trigger {
                display: none;
            }
        }
    }

    &__img,
    &__video,
    iframe,
    object,
    embed {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        /**
         * Object fit modifiers
         */
        &--cover {
            object-fit: cover;
        }

        &--contain {
            object-fit: contain;
        }

        /**
         * Object position modifiers
         */
        &--center {
            object-position: center;
        }

        &--top {
            object-position: top;
        }

        &--bottom {
            object-position: bottom;
        }

        &--left {
            object-position: left;
        }

        &--right {
            object-position: right;
        }

        /**
         * Loaded state
         */
        &.is-loaded {
            + .c-media-loader {
                transform: translateY(-100%);
            }
        }
    }
}
