@use "../tools/tools.index" as tools;

.c-slider-scrollbar {
    height: var(--s-10);
    background-color: var(--black-50);
    border-radius: var(--s-100);
    overflow: hidden;
    user-select: none;

    @include tools.mq(lg) {
        height: var(--s-5);
    }

    &__inner {
        height: 100%;
        background-color: var(--black);
        border-radius: var(--s-100);
        cursor: pointer;
    }
}
