.c-media-trigger {
    @include button-reset;
    @include fluidValue("width", null, 80px);
    @include fluidValue("height", null, 80px);

    & {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: getTransition(slide, ease-in-quad);
        background: $white;
        color: $black;
        border-radius: 100%;
        z-index: getZindex(default);
    }

    .is-playing & {
        opacity: 0;
        visibility: hidden;
    }
}
