@use "../tools/tools.index" as tools;

.c-breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    li {
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:before {
            content: "";
            display: inline-flex;
            flex-shrink: 0;
            flex-grow: 0;
            width: 1em;
            height: 1em;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0ibm9uZSI+PHBhdGggc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjEuNSIgZD0ibTYgMyA1IDUtNSA1Ii8+PC9zdmc+");
            margin-left: var(--s-10);
            margin-right: var(--s-10);
        }

        &:first-child {
            &:before {
                display: none;
            }
        }
    }

    a {
        transition: tools.get-transition(slide, ease-in-quad);
    }
}
