@use "../tools/tools.index" as tools;

.c-slider-pagination {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--s-10);
    user-select: none;

    &__bullet {
        width: var(--s-10);
        height: var(--s-10);
        background-color: var(--black-50);
        border-radius: 100%;
        transition: tools.get-transition(slide, ease-in-quad);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &.is-active {
            background-color: var(--black);
        }
    }
}
