.c-slider-scrollbar {
    @include fluidValue("height", "s-10");
    @include fluidValue("border-radius", null, 100px);

    background-color: $black-50;
    overflow: hidden;
    user-select: none;

    @include mq(lg) {
        @include fluidValue("height", "s-5");
    }

    &__inner {
        @include fluidValue("border-radius", null, 100px);

        height: 100%;
        background-color: $black;
        cursor: pointer;
    }
}
