@use "../tools/tools.interaction" as interaction;
@use "../tools/tools.transitions" as transitions;
@use "../tools/tools.zindex" as z-index;

.c-button {
    height: var(--s-50);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    margin: 0;
    padding: 0 var(--s-50);
    overflow: hidden;
    outline: 0;
    border: none;
    border-radius: var(--s-50);
    vertical-align: top;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: transitions.getTransition(slide, ease-in-quad);
    background-color: var(--black);
    color: var(--white);
    box-shadow: none;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    position: relative;

    @include interaction.hover {
        &:not(:disabled) {
            background-color: var(--black-50);
            color: var(--white);
        }
    }

    @include interaction.focus;

    &:disabled {
        background-color: var(--black-50);
        color: var(--white);
        cursor: not-allowed;
        pointer-events: none;
    }

    &--secondary {
        background-color: var(--white);
        color: var(--black);

        @include interaction.hover {
            &:not(:disabled) {
                background-color: var(--black-50);
                color: var(--black);
            }
        }
    }

    &--full {
        width: 100%;
    }

    &--small {
        height: var(--s-40);
        padding-left: var(--s-40);
        padding-right: var(--s-40);
    }

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: z-index.getZindex(default, 1);
    }

    &.is-loading {
        transition: none;
        cursor: not-allowed;
        pointer-events: none;
        color: transparent;

        .c-button__loader {
            display: flex;
        }
    }
}
