@use "../tools/tools.interaction" as interaction;
@use "../tools/tools.transitions" as transitions;
@use "../tools/tools.zindex" as z-index;

.c-media-trigger {
    @include interaction.button-reset;

    & {
        width: var(--s-80);
        height: var(--s-80);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transitions.getTransition(slide, ease-in-quad);
        background: var(--white);
        color: var(--black);
        border-radius: 100%;
        z-index: z-index.getZindex(default);
    }

    .is-playing & {
        opacity: 0;
        visibility: hidden;
    }
}
