.c-button {
    @include fluidValue("height", null, 50px);
    @include fluidValue("border-radius", null, 50px);

    & {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        cursor: pointer;
        margin: 0;
        padding-left: var(--s-50);
        padding-right: var(--s-50);
        overflow: hidden;
        outline: 0;
        border: none;
        vertical-align: top;
        appearance: none;
        transition: getTransition(slide, ease-in-quad);
        background-color: $black;
        color: $white;
        box-shadow: none;
        text-align: center;
        outline: none;
        box-sizing: border-box;
        position: relative;
    }

    @include hover {
        &:not(:disabled) {
            background-color: $black-50;
            color: $white;
        }
    }

    @include focus;

    &:disabled {
        background-color: $black-50;
        color: $white;
        cursor: not-allowed;
        pointer-events: none;
    }

    &--secondary {
        background-color: $white;
        color: $black;

        @include hover {
            &:not(:disabled) {
                background-color: $black-50;
                color: $black;
            }
        }
    }

    &--full {
        width: 100%;
    }

    &--small {
        @include fluidValue("height", null, 40px);

        & {
            padding-left: var(--s-40);
            padding-right: var(--s-40);
        }
    }

    &__loader {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: getZindex(default, 1);
    }

    &.is-loading {
        transition: none;
        cursor: not-allowed;
        pointer-events: none;
        color: transparent;

        .c-button__loader {
            display: flex;
        }
    }

    .u-icon {
    }

    + .c-button {
    }
}

.c-button-parent {
    @include hover {
        .c-button {
            &:not(:disabled) {
                background-color: $black-50;
                color: $white;
            }
        }
    }
}
