@use "../tools/tools.index" as tools;

.c-media-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    transition: tools.get-transition(slide, ease-in-quad);
    z-index: tools.get-z-index(default, 1);
    pointer-events: none;

    &--black {
        background-color: var(--black);
    }
}
