@use "../tools/tools.index" as tools;

.c-slider-navigation {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--s-10);
    user-select: none;

    &__button {
        @include tools.button-reset;

        & {
            font-size: 0.7em;
            transition: tools.get-transition(slide, ease-in-quad);
            background: var(--black);
            color: var(--white);
            width: var(--s-50);
            height: var(--s-50);
            border-radius: var(--s-5);
        }

        @include tools.focus;

        @include tools.hover {
            &:not(:disabled) {
                background-color: var(--black-50);
                color: var(--white);
            }
        }

        &:disabled {
            background-color: var(--black-50);
            color: var(--white);
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
