@use "sass:meta";
@use "../tools/tools.index" as tools;
@use "../settings/settings.index" as settings;

/**
 * Ratio
 * create ratio-bound content blocks, to keep media (e.g. images, videos) in their correct aspect ratios
 * 1. default cropping is a 1:1 ratio (i.e. a perfect square)
 * inspiration:
 * https://github.com/inuitcss/inuitcss/blob/19d0c7e/objects/_objects.ratio.scss
 */
.u-ratio {
    position: relative;
    display: block;
    overflow: hidden;

    &:before {
        display: block;
        padding-bottom: 100%; // [1]
        width: 100%;
        content: "";
    }
}

.u-ratio__inner,
.u-ratio > img,
.u-ratio > video,
.u-ratio > iframe,
.u-ratio > embed,
.u-ratio > object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
 * Ratio variants
 * generate a series of ratio classes
 * usage:
 * <div class="u-ratio u-ratio--16:9"></div>
 */
@each $ratio in settings.$settings-ratio {
    @each $antecedent, $consequent in $ratio {
        @if (meta.type-of($antecedent) != number) {
            @error "`#{$antecedent}` needs to be a number.";
        }

        @if (meta.type-of($consequent) != number) {
            @error "`#{$consequent}` needs to be a number.";
        }

        .u-ratio--#{$antecedent}\-#{$consequent} {
            &:before {
                padding-bottom: tools.percentage($consequent, $antecedent);
            }
        }
    }
}
