.u-pt-0 {
    padding-top: 0;
}

.u-pt-small {
    padding-top: var(--s-60, 60px);
}

.u-pt-medium {
    padding-top: var(--s-90, 90px);
}

.u-pt-large {
    padding-top: var(--s-125, 125px);
}

.u-pb-0 {
    padding-bottom: 0;
}

.u-pb-small {
    padding-bottom: var(--s-60, 60px);
}

.u-pb-medium {
    padding-bottom: var(--s-90, 90px);
}

.u-pb-large {
    padding-bottom: var(--s-125, 125px);
}
