.u-pt-0 {
    padding-top: 0;
}

.u-pt-small {
    padding-top: var(--s-60);
}

.u-pt-medium {
    padding-top: var(--s-90);
}

.u-pt-large {
    padding-top: var(--s-125);
}

.u-pb-0 {
    padding-bottom: 0;
}

.u-pb-small {
    padding-bottom: var(--s-60);
}

.u-pb-medium {
    padding-bottom: var(--s-90);
}

.u-pb-large {
    padding-bottom: var(--s-125);
}
