{
  "presets": [
    "@babel/preset-env",
    <%_ if (react) { _%>
    "@babel/preset-react"
    <%_ } _%>
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-class-properties",
    "@babel/plugin-transform-object-rest-spread"
  ]
}
