{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "corejs": 3,
        "useBuiltIns": "usage",
        "targets": {
          "browsers": [
            "> 0.5%",
            "last 2 versions"
          ]
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}
