@use "../../tools/tools.index" as tools;

.c-tag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--s-5);
    text-align: center;
    border-radius: var(--s-5);
    overflow: hidden;
    position: relative;
    transition: tools.get-transition(slide, ease-in-quad);

    &--primary {
        background-color: var(--black);
        color: var(--white);
        border: 1px solid var(--black);
    }

    &--secondary {
        background-color: var(--white);
        color: var(--black);
        border: 1px solid var(--white);
    }

    &--small {
        padding: var(--s-5) var(--s-10);
    }

    &--large {
        padding: var(--s-10) var(--s-20);
    }

    &.is-active {
        pointer-events: none;
    }

    .u-icon {
        font-size: 1lh;
    }
}

a.c-tag {
    &--primary {
        @include tools.hover {
            &:not(.is-active) {
                background-color: var(--black-90);
                color: var(--white);
                border-color: var(--black-90);
            }
        }

        @include tools.focus;
    }

    &--secondary {
        @include tools.hover {
            &:not(.is-active) {
                background-color: var(--white-90);
                color: var(--black);
                border-color: var(--white-90);
            }
        }

        @include tools.focus;
    }
}
